<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="common/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>欢迎来到风音雪的世界</title>
</head>
<body>
	<!-- 主体内容 start -->
	<div layout:fragment="content">
		<div sec:authorize="!hasRole('ROLE_admin')">
			<b class="nickNameStr"></b>欢迎来到风音雪的世界，精彩内容稍后呈现...
		</div>
		<div sec:authorize="hasRole('ROLE_admin')">
			<div th:include="adminIndex :: adminIndex"></div>
		</div>
	</div>
</body>
</html>