<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="common/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>角色创建</title>
</head>
<body>
	<!-- 主体内容 start -->
	<div layout:fragment="content">
		<div style="float: none;"
			class="col-lg-8 col-md-8 col-xs-12 col-lg-offset-2 col-md-offset-2 pt">
			<h4>角色创建</h4>
			<form class="form-signin" action="/role/submit" method="post"
				id="roleForm">
				<div class="form-group has-feedback">
					<strong><font color="red">*</font>编码：</strong> <input type="text"
						id="roleCode" name="roleCode" class="form-control"
						required="required">
				</div>
				<div class="form-group has-feedback">
					<strong><font color="red">*</font>名称：</strong> <input type="text"
						id="roleName" name="roleName" class="form-control"
						required="required">

				</div>
				<div class="form-group has-feedback">
					<strong><font color="red">*</font>状态：</strong> <select
						name="status" id="status" class="form-control" required="required">
						<option value="N">启用</option>
						<option value="D">禁用</option>
					</select>
				</div>
				<div>
					<button type="button" id="submit"
						class="btn btn-primary btn-block btn-flat">提交</button>
					<div style="text-align: right; margin: 10px auto; cursor: pointer;">
						<a onclick="back()">返回</a>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript">
			function submitEnable() {
				if ($("#roleCode").val() == "" || $("#roleName").val() == ""
						|| $("#status").val() == "") {
					$('#submit').attr('disabled', "true");
				} else {
					$('#submit').removeAttr("disabled");
				}
			}
			function back() {
				window.location.href="/role/roleManagement";
			}
			$(function() {
				submitEnable();
				$("#submit").click(function() {
					$("#loadingHint").html("正在创建角色...");
					$("#loadingModal").modal('show');
					$.ajax({
						async : false,
						type : "POST",
						url : $("#roleForm").attr("action"),
						data : {
							roleCode : $("#roleCode").val(),
							roleName : $("#roleName").val(),
							status : $("#status").val(),
						},
						dataType : "text",
						success : function(data) {
							var obj = eval('(' + data + ')');
							if (obj.code == "success") {
								$("#resultHint").html("设置好哒！");
								$("#hintConfirm").click(function() {
									back();
								});
							} else {
								$("#resultHint").html(obj.value);
							}
							$("#resultHintModal").modal('show');
							$("#loadingModal").modal('hide');
						},
						error : function() {
							$("#resultHint").html("好像哪里不对啊,一会再试试？");
							$("#resultHintModal").modal('show');
							$("#loadingModal").modal('hide');
						}
					})
				});
				$("#roleName").keyup(function() {
					submitEnable();
				});
				$("#roleCode").keyup(function() {
					submitEnable();
				});
			})
		</script>
	</div>
</body>
</html>