<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="common/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>404</title>
<body>
	<div layout:fragment="content">
		<div class="row mt2 presentation">
			<div class="centered">
				<i class="icon ion-ios7-help-outline large-icon"></i>
				<h1>404 ERROR</h1>
				<hr>
			</div>
			<div class="col-lg-6 col-lg-offset-3 centered">
				<p>若你地址没输错，那么...它应该是逃跑了...放心，我会把它抓回来的！</p>
				<p class="mt">
					<a href="/index" class="btn btn-lg btn-theme">先回首页再说</a>
				</p>
			</div>

		</div>
		<!-- /row -->
	</div>
</body>
</html>
