<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<header th:fragment="menu">
		<div class="sidemenu">
			<ul class="fm-first-level">
				<li th:each="group : ${session.CACHE_USER_MENU}"><a
					th:href="'#'+${group.groupCode}" th:text="${group.groupName}"></a></li>
			</ul>
			<nav th:each="group,groupStat : ${session.CACHE_USER_MENU}"
				th:id="${group.groupCode}"
				th:class="${groupStat.index==0}? 'active':''">
				<a th:each="menu : ${group.menuList}" th:href="${menu.url}"> <i
					th:class="'icon large-icon ' + ${menu.icon}" th:if="${menu.icon}"></i>
					<i class="icon ion-document large-icon" th:unless="${menu.icon}"></i>
					<span th:text="${menu.menuName}"></span>
				</a>
			</nav>
			<div class="logoutDiv">
				<a href="/logout" class="logout">退出登录</a>
			</div>
		</div>
	</header>
</body>
</html>