<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="common/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>菜单设置</title>
</head>
<body>
	<!-- 主体内容 start -->
	<div layout:fragment="content">
		<div style="float: none;"
			class="col-lg-8 col-md-8 col-xs-12 col-lg-offset-2 col-md-offset-2 pt">
			<h4>菜单设置</h4>
			<form class="form-signin" action="/menu/submit" method="post"
				th:if="${menu}" id="menuForm">
				<div class="form-group has-feedback">
					<input type="hidden" id="menuCode" name="menuCode"
						th:value="${menu.menuCode}" /> <strong>编码：</strong> <span
						th:text="${menu.menuCode}"></span>
				</div>
				<div class="form-group has-feedback">
					<strong><font color="red">*</font>名称：</strong> <input type="text"
						id="menuName" name="menuName" class="form-control"
						required="required" th:value="${menu.menuName}">

				</div>
				<div class="form-group has-feedback">
					<strong><font color="red">*</font>所属菜单组：</strong> <select
						name="menuGroup" id="menuGroup" class="form-control"
						required="required">
						<option th:each="group:${groupList}"
							th:selected="${menu.menuGroup} eq ${group.groupCode}"
							th:value="${group.groupCode}" th:text="${group.groupName}"></option>
					</select>
				</div>
				<div class="form-group has-feedback">
					<strong>图标：</strong>
					<button type="button" onclick="choseIcon()" class="btn btn-primary"
						th:style="${menu.icon}?'display:none;':'display:inline;'"
						id="choseIconBtn">选择</button>
					<i th:class="'icon ' + ${menu.icon}" id="iconImg"
						th:display="${menu.icon}" onclick="choseIcon()"
						style="font-size: 30px; cursor: pointer;"></i> <input
						type="hidden" id="icon" name="icon" class="form-control"
						required="required" th:value="${menu.icon}">
				</div>
				<div class="form-group has-feedback">
					<strong><font color="red">*</font>地址：</strong> <input type="text"
						id="url" name="url" class="form-control" required="required"
						th:value="${menu.url}">
				</div>
				<div class="form-group has-feedback">
					<strong><font color="red">*</font>状态：</strong> <select
						name="status" id="status" class="form-control" required="required">
						<option value="N" th:selected="${menu.status} eq 'N'">启用</option>
						<option value="D" th:selected="${menu.status} ne 'N'">禁用</option>
					</select>
				</div>
				<div class="form-group has-feedback">
					<strong><font color="red">*</font>序号：</strong> <input type="text"
						id="sort" name="sort" class="form-control" required="required"
						th:value="${menu.sort}">
				</div>
				<div>
					<button type="button" id="submit"
						class="btn btn-primary btn-block btn-flat">提交</button>
					<div style="text-align: right; margin: 10px auto; cursor:pointer;">
						<a onclick="back()">返回</a>
					</div>
				</div>
			</form>
			<div th:unless="${menu}">
				<div style="text-align: center;" class="ptb">
					<font color="red">sorry,你找的菜单不翼而飞了...</font>
				</div>
				<button type="button" onclick="javaScript:history.go(-1);"
					class="btn btn-primary btn-block btn-flat">返回</button>
			</div>
		</div>
		<div th:include="common/iconList :: iconList"></div>
		<script type="text/javascript">
			function submitEnable() {
				if ($("#menuCode").val() == "" || $("#menuName").val() == ""
						|| $("#status").val() == ""||$("#menuGroup").val() == ""
						|| $("#sort").val() == ""||$("#url").val() == "") {
					$('#submit').attr('disabled', "true");
				} else {
					$('#submit').removeAttr("disabled");
				}
			}
			function choseIcon() {
				$("#iconListModal").modal('show');
			}
			function back() {
				window.location.href = "/menu/menuManagement?groupCode=[[${menu.menuGroup}]]";
			}
			$(function() {
				submitEnable();
				$("#submit")
						.click(
								function() {
									$("#loadingHint").html("稍等片刻，这就给您改...");
									$("#loadingModal").modal('show');
									$
											.ajax({
												async : false,
												type : "POST",
												url : $("#menuForm").attr(
														"action"),
												data : {
													id : [[${menu.id}]],
													menuCode : $("#menuCode").val(),
													menuName : $("#menuName").val(),
													menuGroup : $("#menuGroup").val(),
													url : $("#url").val(),
													icon : $("#icon").val(),
													status : $("#status").val(),
													sort : $("#sort").val(),
												},
												dataType : "text",
												success : function(data) {
													var obj = eval('(' + data
															+ ')');
													if (obj.code == "success") {
														$("#resultHint").html(
																"设置好哒！");
														$("#hintConfirm")
																.click(
																		function() {
																			back();
																		});
													} else {
														$("#resultHint").html(
																obj.value);
													}
													$("#resultHintModal")
															.modal('show');
													$("#loadingModal").modal(
															'hide');
												},
												error : function() {
													$("#resultHint").html(
															"好像哪里不对啊,一会再试试？");
													$("#resultHintModal")
															.modal('show');
													$("#loadingModal").modal(
															'hide');
												}
											})
								});
				$("#menuName").keyup(function() {
					submitEnable();
				});
				$("#url").keyup(function() {
					submitEnable();
				});
				$("#sort").keyup(function() {
					submitEnable();
				});
				$(".modal-icon-list").find("i").each(function(){
					$(this).click(function(){
						var className=$(this).prop("className");
						$("#iconImg").removeClass();
						$("#iconImg").addClass(className);
						$("#iconImg").show();
						$("#choseIconBtn").hide();
						className = className.replace("icon ","");
						$("#icon").val(className);
						$("#iconListModal").modal('hide');
					});
				});
			})
		</script>
	</div>
</body>
</html>