<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="common/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>登录</title>
<script th:src="@{/js/md5.js}"></script>
<link rel="stylesheet" th:href="@{/css/fyxw/login.css}">
</head>
<body>
	<!-- 主体内容 start -->
	<div layout:fragment="content" class="height100">
		<div
			class="col-lg-4 col-md-4 col-xs-8 col-lg-offset-4 col-md-offset-4 col-xs-offset-2 vcenter">
			<form class="form-signin" action="/authentication/form" method="post">
				<div class="form-group has-feedback">
					<input type="text" id="username" name="username"
						class="form-control" required="required" placeholder="请输入用户名"
						th:value="${username}"> <span
						class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" id="pwd" name="pwd" class="form-control"
						required="required" placeholder="请输入密码"> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span> <input
						type="hidden" id="password" name="password" />
				</div>
			<!-- 	<div class="form-group has-feedback">
					<input id="remember-me" name="remember-me" type="checkbox" /> <label
						for="remember-me">一周内记住我</label>
				</div> -->
				<div>
					<div style="text-align: center; margin-bottom: 10px;">
						<font color="red" th:if="${param.error}"
							th:text="${session.exceptionMessage}"></font>
					</div>
					<button type="submit" id="submit"
						class="btn btn-primary btn-block btn-flat">进&nbsp;&nbsp;入</button>
					<div style="text-align: right; margin-top: 10px;">
						<a href="/regist">缺个账号</a>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript">
			function submitEnable() {
				if ($("#username").val() == "" || $("#pwd").val() == "") {
					$('#submit').attr('disabled', "true");
				} else {
					$('#submit').removeAttr("disabled");
				}
			}
			$(function() {
				submitEnable();
				$("#submit").click(function() {
					$("#loadingHint").html("身份认证中...");
					$("#loadingModal").modal('show');
					$("#password").val(hex_md5($("#pwd").val()));
				});
				$("#username").keyup(function() {
					submitEnable();
				});
				$("#pwd").keyup(function() {
					submitEnable();
				});
			})
		</script>
	</div>
</body>
</html>