<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="common/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>昵称设置</title>
</head>
<body>
	<!-- 主体内容 start -->
	<div layout:fragment="content" class="height100">
		<div class="settingDiv height100">
			<div
				class="col-lg-4 col-md-4 col-xs-8 col-lg-offset-4 col-md-offset-4 col-xs-offset-2 vcenter">
				<div th:switch="${operate}">
					<h4 class="settingHint" th:case="'first'">听说你是第一次来，少侠留下姓名可好？</h4>
					<h4 class="settingHint" th:case="'set'">少侠留下姓名可好？</h4>
					<h4 class="settingHint" th:case="'change'">少侠可是要更名？</h4>
				</div>
				<div class="form-group has-feedback mb">
					<input type="text" id="nickName" name="nickName"
						class="form-control" required="required"
						th:value="${session.username}">
				</div>
				<div>
					<button type="button" onclick="setNickName()" id="setNickName"
						class="btn btn-primary btn-block btn-flat mb">爷的大名你可记住了！</button>
					<div style="text-align: right; margin-top: 10px;" th:if="${operate}=='first'">
						<a href="#" onclick="later()" style="color: red;">等爷高兴的时候再告诉你，速速退下！</a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function buttonEnable() {
				if ($("#nickName").val() == "") {
					$('#setNickName').attr('disabled', "true");
				} else {
					$('#setNickName').removeAttr("disabled");
				}
			}
			function setNickName() {
				$("#loadingHint").html("记忆中，请稍后...");
				$("#loadingModal").modal('show');
				$.ajax({
					async : false,
					type : "POST",
					url : "/user/setNickName",
					data : {
						nickName : $("#nickName").val()
					},
					dataType : "text",
					success : function(data) {
						var obj = eval('(' + data + ')');
						if (obj.code == "success") {
							var nickname = $("#nickName").val();
							var operate = '[[${operate}]]';
							var hint = "大侠好名字，我等记下了！"
							if(operate=='first') {
								hint = nickname + "，我等已恭候多时，请！";
							}
							$("#resultHint").html(hint);
							$(".nickNameStr").html(nickname);
						} else {
							$("#resultHint").html("这么嚣张，我没兴趣知道了，哼！");
						}
						$("#resultHintModal").modal('show');
						$("#loadingModal").modal('hide');
						$("#hintConfirm").click(function() {
							window.location.href = "/index";
						});
					},
					error : function() {
						$("#resultHint").html("好像哪里不对啊,一会再试试？");
						$("#resultHintModal").modal('show');
						$("#loadingModal").modal('hide');
					}
				})
			}
			function later() {
				window.location.href = "/index";
			}
			$(function() {
				buttonEnable();
				$("#nickName").keyup(function() {
					buttonEnable();
				});
			})
		</script>
	</div>
</body>
</html>