html, body {
	height: 100%;
}

body {
	background: url(/img/background.jpg) no-repeat;
	background-size: 100% 100%;
}

.vcenter {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.form-group {
	margin: 25px 0;
}

.glyphicon {
	color: #337ab7;
}

a {
	color: #696E74;
	text-decoration: none;
}

a:focus, a:hover {
	color: #FF910C;
	text-decoration: none;
}